doctype 5
html(lang=en)
	head
		title Node Defender
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="http://fonts.googleapis.com/css?family=Press+Start+2P|Merriweather+Sans:400,700|Open+Sans", rel="stylesheet", type="text/css")
		link(href="/css/style.css", rel="stylesheet", type="text/css")
		script
			var host = '#{host}';
	body
		h1 Node Defender Leaderboard
		#top10
			p.loading Loading Top 10 list...
		h2 Current Players
		#playerList
			p.loading Loading player list...
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
		script(src= host + "/socket.io/socket.io.js")
		script(src="/js/scoreboard.js")
